{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'diary:open_list' %}">Diary</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'diary:open_list' %}">Open Diary</a>
    </li>
    <li class="breadcrumb-item">
        <span>Open Diary View</span>
    </li>
{% endblock %}

{% block content %}
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Open Diary View
            </h6>
            <div class="element-box">
                <h4 class="form-header">
                    {{ object.title }}
                </h4>
                <div class="form-desc">
                    <i class="fa fa-calendar"></i> {{ object.diary_at|date:"Y-m-d" }}
                </div>
                <div class="element-box-content mb-3">
                    <div class="mt-2 markdown-body embed-md-convert">
                        {% load markdown_deux_tags %}
                        {{ object.content|markdown }}
                    </div>
                    <div class="mt-5">
                        {% load tagging_tags %}
                        {% tags_for_object object as tags %}

                        {% if tags %}
                            <strong>태그 : </strong>
                            {% for tag in tags %}
                                <a href="{% url 'diary:open_list_tag' tag %}">#{{ tag.name }}</a>
                            {% endfor %}
                            <br />
                        {% endif %}
                        {% if mentioned_list %}
                            <strong>이 글을 언급한 글 : </strong>
                            {% for row in mentioned_list %}
                                <a href="{{ row.get_absolute_url }}">[{{ row }}]</a>
                                {% if not forloop.last %},&nbsp;{% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if related_list %}
                            <strong>유사한 글 : </strong>
                            {% for row in related_list %}
                                <a href="{{ row.get_absolute_url }}">[{{ row }}]</a>
                                {% if not forloop.last %},&nbsp;{% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-3">
                        {% if prev_object %}
                        <a href="{{ prev_object.get_absolute_url }}" class="btn btn-primary"><i class="fa fa-chevron-left"></i> 이전 글</a>
                        {% endif %}
                    </div>
                    <div class="text-right col-3">
                        {% if next_object %}
                        <a href="{{ next_object.get_absolute_url }}" class="btn btn-primary">다음 글 <i class="fa fa-chevron-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="text-right mt-3 mb-3">
                    <a href="{% url 'diary:open_list' %}" class="btn btn-secondary btn-sm">목록으로</a>
                </div>

                <div>
                    {% load disqus_tags %}
                    {% set_disqus_identifier "zunik_diary_" object.get_id_string_format %}
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}