{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% block keywords %}{{ object.tag }}{% endblock %}
{% block meta_desc %}{{ object.description }}{% endblock %}

{% block og_title %}{{ object.title }}{% endblock %}
{% block og_desc %}{{ object.description }}{% endblock %}

{% block twitter_title %}{{ object.title }}{% endblock %}
{% block twitter_desc %}{{ object.description }}{% endblock %}

{% block og_image %}{% if object.main_img %}{{ object.get_main_img_url }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block twitter_image %}{% if object.main_img %}{{ object.get_main_img_url }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'diary:introduction' %}">Diary</a>
    </li>
    <li class="breadcrumb-item">
        <span>Introduction</span>
    </li>
{% endblock %}

{% block content %}
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Introduction
            </h6>
            <div class="element-box">
                <h4 class="form-header">
                    {{ object.title }}
                </h4>
                <div class="form-desc">
                    <i class="fa fa-pencil" title="작성 날짜"></i> <span title="다이어리 작성 날짜">{{ object.diary_at|date:"Y-m-d" }}</span>
                    <i class="fa fa-eye pl-2" title="조회수"></i> <span title="조회수">{{ object.hit_count.hits }}</span>
                </div>
                <div class="element-box-content mb-3">
                    <div class="mt-2 markdown-body embed-md-convert">
                        {% load markdown_deux_tags %}
                        {{ object.content|markdown }}
                    </div>
                    <a href="{% url 'diary:open_list' %}" class="btn btn-primary btn-lg btn-block mt-5">다이어리 보러 가기</a>
                    <div class="mt-5">
                        <div class="fb-like" data-href="{{ SITE_DOMAIN }}{{ request.path }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
                    </div>
                </div>
                <div>
                    {% load disqus_tags %}
                    {% set_disqus_identifier "zunik_diary_" object.get_id_string_format %}
                    {% set_disqus_url full_absolute_url %}
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/markdown_custom.js' %}"></script>
{% endblock %}