{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'diary:open_list' %}">Diary</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'diary:open_list' %}">Open Diary</a>
    </li>
    <li class="breadcrumb-item">
        <span>Open Diary View</span>
    </li>
{% endblock %}

{% block content %}
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Open Diary View
            </h6>
            <div class="element-box">
                <h4 class="form-header">
                    {{ object.title }}
                </h4>
                <div class="form-desc">
                    <i class="fa fa-calendar"></i> {{ object.diary_at|date:"Y-m-d" }}
                </div>
                <div class="element-box-content mb-3">
                    <div class="mt-2 markdown-body embed-md-convert">
                        {% load markdown_deux_tags %}
                        {{ object.content|markdown }}
                    </div>
                    <div class="mt-5">
                        {% load tagging_tags %}
                        {% tags_for_object object as tags %}

                        {% if tags %}
                            <strong>Tags : </strong>
                            {% for tag in tags %}
                                <span class="badge badge-pill badge-info p-2">
                                    <a href="{% url 'diary:open_list_tag' tag %}">{{ tag.name }}</a>
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="text-right mt-3 mb-3">
                    <a href="{% url 'diary:open_list' %}" class="btn btn-secondary btn-sm">목록으로</a>
                </div>

                <div>
                    {% load disqus_tags %}
                    {% set_disqus_identifier "zunik_diary_" object.get_id_string_format %}
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}