{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% block keywords %}{{ object.tag }}{% endblock %}
{% block meta_desc  %}{{ object.content|striptags|truncatechars:80 }}{% endblock %}

{% block og_title %}{{ object.title }}{% endblock %}
{% block og_desc  %}{{ object.content|striptags|truncatechars:50 }}{% endblock %}
{% block og_url %}{{ block.super }}{{ object.get_absolute_url }}{% endblock %}

{% block twitter_title %}{{ object.title }}{% endblock %}
{% block twitter_desc  %}{{ object.content|striptags|truncatechars:50 }}{% endblock %}
{% block twitter_url %}{{ block.super }}{{ object.get_absolute_url }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'diary:open_list' %}">Diary</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'diary:open_list' %}">Open Diary</a>
    </li>
    <li class="breadcrumb-item">
        <span>Open Diary View</span>
    </li>
{% endblock %}

{% block content %}
    <div class="content-box">
        <div class="element-wrapper">
            <div class="element-box">
                <h4 class="form-header">
                    {{ object.title }}
                </h4>
                <div class="form-desc">
                    <i class="fa fa-calendar" title="다이어리 작성 날짜"></i> {{ object.diary_at|date:"Y-m-d" }}
                    <i class="fa fa-eye pl-2" title="조회수"></i> {{ object.hit_count.hits }}
                </div>
                <div class="element-box-content mb-3">
                    <div class="mt-2 markdown-body embed-md-convert">
                        {% load markdown_deux_tags %}
                        {{ object.content|markdown }}
                    </div>
                    <div class="mt-5">
                        {% load tagging_tags %}
                        {% tags_for_object object as tags %}

                        {% if tags %}
                            <strong style="font-size:1.2em"><i class="os-icon os-icon-ui-54" title="tag"></i></strong>
                            {% for tag in tags %}
                                <a href="{% url 'diary:open_list_tag' tag %}">#{{ tag.name }}</a>
                            {% endfor %}
                            <br /><br />
                        {% endif %}
                        {% if mentioned_list %}
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info"><strong>이 글을 언급한 글</strong></li>
                            {% for row in mentioned_list %}
                                <li class="list-group-item list-group-item-action">
                                    <a href="{{ row.get_absolute_url }}">{{ row }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            <br />
                        {% endif %}
                        {% if related_list %}
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info"><strong>유사한 글</strong></li>
                            {% for row in related_list %}
                                <li class="list-group-item list-group-item-action">
                                    <a href="{{ row.get_absolute_url }}">{{ row }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 mb-1">
                        {% if next_object %}
                        <a href="{{ next_object.get_absolute_url }}?page={{ now_page }}{% if now_tag %}&tag={{ now_tag }}{% endif %}" class="btn btn-primary">
                            <i class="fa fa-chevron-left"></i> {{ next_object.title|truncatechars:20 }}
                        </a>
                        {% endif %}
                    </div>
                    <div class="text-right col-sm-6 col-md-6 mb-1">
                        {% if prev_object %}
                        <a href="{{ prev_object.get_absolute_url }}?page={{ now_page }}{% if now_tag %}&tag={{ now_tag }}{% endif %}" class="btn btn-primary">
                            {{ prev_object.title|truncatechars:20 }} <i class="fa fa-chevron-right"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="text-right mt-3 mb-3">
                    <a href="{% url 'diary:open_list' %}{% if now_tag %}tag/{{ now_tag }}/{% endif %}?page={{ now_page }}" class="btn btn-secondary btn-sm">목록으로</a>
                </div>

                <div>
                    {% load disqus_tags %}
                    {% set_disqus_identifier "zunik_diary_" object.get_id_string_format %}
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}