{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'diary:introduction' %}">Diary</a>
    </li>
    <li class="breadcrumb-item">
        <span>Open Diary</span>
    </li>
{% endblock %}

{% block content %}
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Open Diary
                <span class="badge badge-warning rss-btn ml-2" title="RSS">
                    <a href="{% url 'diary:open_latest_feed' %}" target="_blank"><i class="fa fa-rss"></i></a>
                </span>
            </h6>
            <div class="todo-app-w">
                <div class="todo-sidebar">
                    <div class="todo-sidebar-section">
                        <h4 class="todo-sidebar-section-header">
                            <span>Filter</span>
                        </h4>
                        <div class="todo-sidebar-section-contents">
                            <div class="todo-sidebar-section-sub-section">
                                <div class="todo-sidebar-section-sub-header">
                                    <i class="os-icon os-icon-ui-54"></i>
                                    <h6>
                                        Tags
                                    </h6>
                                </div>
                                <div class="todo-sidebar-section-sub-section-content">
                                    {% load tagging_tags %}
                                    {% tags_for_model diary.Diary as tags with counts %}
                                    <ul class="items-list filter-list">
                                        <li>
                                            <a href="{% url 'diary:open_list' %}">
                                                <span class="badge {% if not now_tag %}badge-primary{% else %}badge-default{% endif %} p-2">
                                                    전체 보기 ( ALL )
                                                </span>
                                            </a>
                                        </li>
                                        {% for tag in tags %}
                                            <li>
                                                <a href="{% url 'diary:open_list_tag' tag %}">
                                                    <span class="badge {% if now_tag and tag == now_tag %}badge-primary{% else %}badge-default{% endif %} p-2">
                                                        {{ tag }} ( {{ tag.count }} )
                                                    </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="todo-content">
                    <h4 class="todo-content-header">
                        {% if list_type == 'all' %}
                            <span>전체 보기</span>
                        {% elif list_type == 'tag' %}
                            <i class="os-icon os-icon-ui-54" title="tag"></i><span>{{ now_tag }}</span>
                        {% endif %}
                    </h4>
                    <div class="all-tasks-w">
                        {% load thumbnail %}
                        {% for object in object_list %}
                            <div class="tasks-section">
                                <div class="tasks-header-w">
                                    <a class="tasks-header-toggler" href="#"><i class="os-icon os-icon-ui-23"></i></a>
                                    <h5 class="tasks-header">
                                        <strong>
                                            <a href="{{ object.get_absolute_url }}?page={{ page_obj.number }}{% if list_type == 'tag' %}&tag={{ now_tag }}{% endif %}">
                                                {{ object.title }}
                                            </a>
                                            {% if 'embed-md' in object.content %}
                                                <i class="fa fa-play-circle-o" title="영상 포함" alt="영상 포함"></i>
                                            {% endif %}
                                        </strong>
                                    </h5>
                                    <span class="tasks-sub-header">
                                        <i class="fa fa-pencil" title="다이어리 작성 날짜"></i> {{ object.diary_at|date:"Y-m-d" }}
                                        <i class="fa fa-eye pl-2" title="조회수"></i> {{ object.hit_count.hits }}
                                    </span>
                                </div>
                                <div class="tasks-list-w">
                                    <div>
                                        {% thumbnail object.get_main_img_url "150x150" crop="center" as im %}
                                            <div class="diary-thumbnail">
                                                <a href="{{ object.get_absolute_url }}?page={{ page_obj.number }}{% if list_type == 'tag' %}&tag={{ now_tag }}{% endif %}">
                                                    <img src="{{ im.url }}" alt="{{ object.title }}">
                                                </a>
                                            </div>
                                        {% endthumbnail %}
                                        <div>
                                            {{ object.description }}
                                            <a href="{{ object.get_absolute_url }}?page={{ page_obj.number }}{% if list_type == 'tag' %}&tag={{ now_tag }}{% endif %}" class="ml-2">
                                                <strong>...전체 보기</strong>
                                            </a>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include "pagination.html" %}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}