/* custom style */
.todo-app-w .todo-sidebar { flex : none}

.menu-side-compact-w .logged-user-w .avatar-w img{ width:55px; }

.logged-user-w .avatar-w img {width: 55px;}

.logged-user-w .avatar-w { padding:2px; }

.img-thumbnail:hover{border:1px solid skyblue; box-sizing:border-box; cursor:pointer;}

.text-overflow{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

ul.filter-list li > a.active{color:#0d509a !important; font-weight: bold;}

.todo-app-w .todo-sidebar .todo-sidebar-section-sub-section .todo-sidebar-section-sub-header{padding-right: 20px;}

.list_more_info{font-size:0.82em; color:rgba(0, 0, 0, 0.5); text-align:right;}

.badge > a {color:#fff !important;}
.badge > a:hover{text-decoration: none}

.todo-app-w .todo-content .tasks-header-w { margin-bottom:10px }

strong{font-weight:700}

#mobile-contact a {color:rgba(255, 255, 255, 0.5); font-size:1.4rem; text-decoration: none}

/* sub menu hover active */
.menu-side-w ul.sub-menu li a.hover-active{
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
}
.menu-side-w ul.sub-menu li a.hover-active:before {
    -webkit-transform: translate(-5px, -50%);
    transform: translate(-5px, -50%);
    border-radius: 6px;
    background-color: #047bf8;
    border-color: #047bf8;
}