.todo-app-w .todo-sidebar { flex : none}

.menu-side-compact-w .logged-user-w .avatar-w img{ width:55px; }

.logged-user-w .avatar-w { padding:2px; }

.img-thumbnail:hover{border:1px solid skyblue; box-sizing:border-box; cursor:pointer;}

.text-overflow{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

ul.filter-list li > a.active{color:#0d509a !important; font-weight: bold;}

.todo-app-w .todo-sidebar .todo-sidebar-section-sub-section .todo-sidebar-section-sub-header{padding-right: 20px;}

.list_date_view{font-size:0.9rem; color:rgba(0, 0, 0, 0.5); text-align:right;}

.badge > a {color:#fff !important;}
.badge > a:hover{text-decoration: none}

strong{font-weight:700}