{% extends 'base.html' %}

{% block content %}
    <div class="todo-app-w">
        <div class="todo-sidebar">
            <div class="todo-sidebar-section">
                <h4 class="todo-sidebar-section-header">
                    Years<a class="todo-sidebar-section-toggle" href="#"><i class="os-icon os-icon-ui-23"></i></a>
                </h4>
                <div class="todo-sidebar-section-contents">
                    <ul class="projects-list">
                        {% for year in year_list %}
                        <li {% if year.year == date_list.0.year %} class="active" {% endif %}>
                            <a href="{% url 'photo:list_year' year.year %}">{{ year.year }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="todo-content">
            <h4 class="todo-content-header">
                <i class="os-icon os-icon-others-29"></i><span>{{ now_year }}</span>
            </h4>
            <div class="row">
            {% for object in object_list %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="{% url 'photo:detail_view' object.id %}">
                        <img src="{{ object.thumbnail.url }}" class="img-thumbnail" data-placement="bottom" data-toggle="tooltip" title="{{ object.title }}">
                    </a>
                </div>
            {% endfor %}
            </div>

            {% if is_paginated %}
             <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous%}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
{%  endblock %}