kind: Pod
apiVersion: v1
metadata:
  name: db
  namespace: zunik-me
  labels:
    app: db
spec:
  containers:
    - name: db
      image: "mariadb:10.2"
      ports:
        - containerPort: 3306
      env:
        - name: TZ
          value: "Asia/Seoul"
        - name: MYSQL_DATABASE
          value: "zunik_story"
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db
              key: password
      volumeMounts:
      - mountPath: "/var/lib/mysql"
        name: datadir
      - mountPath: "/etc/mysql/conf.d"
        name: dbcnf
  volumes:
    - name: datadir
      persistentVolumeClaim:
        claimName: db
    - name: dbcnf
      configMap:
        name: db-cnf
  nodeSelector:
    kubernetes.io/hostname: pool-d4b8knhi3-0ybi