apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: web-ingress
  namespace: zunik-me
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  tls:
    - hosts:
      - archive.zunik.me
      secretName: zunik-me-tls
  rules:
    - host: archive.zunik.me
      http:
        paths:
          - backend:
              serviceName: web
              servicePort: 80