<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Zunik Story{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="keywords" content="{% block keywords %}bboy zunik coding{% endblock %}" />
    <meta name="description" content="{% block meta_desc %}안녕하세요 저의 스토리가 있는 공간입니다{% endblock %}" />
    <meta name="author" content="Juhun Cha" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}Zunik Home{% endblock %}" />
    <meta property="og:description" content="{% block og_desc %}안녕하세요 저의 스토리가 있는 공간입니다{% endblock %}" />
    <meta property="og:url" content="{{ SITE_DOMAIN }}{{ request.path }}" />
    <meta property="og:image" content="{% block og_image %}{% endblock %}" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter_title %}Zunik Home{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_desc %}안녕하세요 저의 스토리가 있는 공간입니다{% endblock %}" />
    <meta name="twitter:url" content="{{ SITE_DOMAIN }}{{ request.path }}" />
    <meta name="twitter:image" content="{% block twitter_image %}{% endblock %}" />

    <!-- static -->
    {% load static %}
    <link href="{% static 'img/favicon.png' %}" rel="shortcut icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="{% static 'npm/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'perfect-scrollbar/css/perfect-scrollbar.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
    <link href="{% static 'icon_fonts_assets/picons-social/style.css' %}" rel="stylesheet">
    <link href="{% static 'icon_fonts_assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'github-markdown-css/github-markdown.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
<div class="all-wrapper menu-side {% block main_class %} {% endblock %}">
    <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w">
                <a class="mm-logo" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="{% static 'img/zunik.jpg' %}">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            Zunik
                        </div>
                        <div class="logged-user-role">
                            JuHun Cha
                        </div>
                    </div>
                    <span id="mobile-contact">
                        <a href="mailto:chazunik@gmail.com" class="pl-3"><i class="picons-social-icon-gmail"></i></a>
                        <a href="https://www.facebook.com/nik.zu.7" class="pl-2" target="_blank"><i class="picons-social-icon-facebook"></i></a>
                        <a href="https://www.instagram.com/zunik_cha/" class="pl-2" target="_blank"><i class="picons-social-icon-instagram"></i></a>
                        <a href="https://github.com/zunik" class="pl-2" target="_blank"><i class="picons-social-icon-github"></i></a>
                    </span>
                </div>
                <!--------------------
                START - Mobile Menu List
                -------------------->
                <ul class="main-menu">
                    <li>
                        <a href="{% url 'index' %}">
                            <div class="icon-w">
                                <div class="fa fa-home"></div>
                            </div>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="has-sub-menu">
                        <a href="{% url 'diary:introduction' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-ui-55"></div>
                            </div>
                            <span>Diary</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'diary:introduction' %}">Introduction</a>
                            </li>
                            <li>
                                <a href="{% url 'diary:open_list' %}">Open Diary</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub-menu">
                        <a href="{% url 'video:my_list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-others-29"></div>
                            </div>
                            <span>Video</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'video:my_list' %}">My Video</a>
                            </li>
                            <li>
                                <a href="{% url 'video:favorite_list' %}">Favorite Video</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub-menu">
                        <a href="{% url 'photo:my_list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-documents-07"></div>
                            </div>
                            <span>Photo</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'photo:my_list' %}">My Photo</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--------------------
                END - Mobile Menu List
                -------------------->
            </div>
        </div>
        <!--------------------
        END - Mobile Menu
        -------------------->
        <div class="desktop-menu menu-side-w menu-activated-on-click color-scheme-dark">
            <div class="logo-w">
                <a class="logo" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="{% static 'img/zunik.jpg' %}">
                        </div>
                        <div class="logged-user-info-w">
                            <div class="logged-user-name">
                                Zunik
                            </div>
                            <div class="logged-user-role">
                                JuHun Cha
                            </div>
                        </div>
                        <div class="logged-user-menu">
                            <div class="logged-user-avatar-info">
                                <div class="avatar-w">
                                    <img alt="" src="{% static 'img/zunik.jpg' %}">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        Zunik
                                    </div>
                                    <div class="logged-user-role">
                                        JuHun Cha
                                    </div>
                                </div>
                            </div>
                            <div class="bg-icon">
                                <i class="os-icon os-icon-wallet-loaded"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="mailto:chazunik@gmail.com"><i class="picons-social-icon-gmail"></i><span>Email</span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/nik.zu.7" target="_blank"><i class="picons-social-icon-facebook"></i><span>Facebook</span></a>
                                </li>
                                <li>
                                     <a href="https://www.instagram.com/zunik_cha/" target="_blank"><i class="picons-social-icon-instagram"></i><span>Instagram</span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/zunik" target="_blank"><i class="picons-social-icon-github"></i><span>Git Hub</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="main-menu">
                    <li>
                        <a href="{% url 'index' %}">
                            <div class="icon-w">
                                <div class="fa fa-home"></div>
                            </div>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="has-sub-menu {% if '/diary/' in request.path %}active{% endif %}">
                        <a href="{% url 'diary:open_list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-ui-55"></div>
                            </div>
                            <span>Diary</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'diary:introduction' %}" {% if '/diary/introduction' in request.path %}class="hover-active"{% endif %}>Introduction</a>
                            </li>
                            <li>
                                <a href="{% url 'diary:open_list' %}" {% if '/diary/open/' in request.path %}class="hover-active"{% endif %}>Open Diary</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub-menu  {% if '/video/' in request.path %}active{% endif %}">
                        <a href="{% url 'video:my_list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-others-29"></div>
                            </div>
                            <span>Video</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'video:my_list' %}" {% if '/video/my/' in request.path %}class="hover-active"{% endif %}>My Video</a>
                            </li>
                            <li>
                                <a href="{% url 'video:favorite_list' %}" {% if '/video/favorite/' in request.path %}class="hover-active"{% endif %}>Favorite Video</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub-menu  {% if '/photo/' in request.path %}active{% endif %}">
                        <a href="{% url 'photo:my_list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-documents-07"></div>
                            </div>
                            <span>Photo</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'photo:my_list' %}" {% if '/photo/my/' in request.path %}class="hover-active"{% endif %}>My Photo</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-w">
            <!--------------------
            START - Breadcrumbs
            -------------------->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                {% block breadcrumb %}{% endblock %}
            </ul>
            <!--------------------
            END - Breadcrumbs
            -------------------->
            <div class="content-i">
                {%  block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'moment/moment.js' %}"></script>
<script src="{% static 'chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'bootstrap-validator/dist/validator.min.js' %}"></script >
<script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'editable-table/mindmup-editabletable.js' %}"></script>
<script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'npm/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/util.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/alert.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/button.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/carousel.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/collapse.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/dropdown.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/modal.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/tab.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/tooltip.js' %}"></script>
<script src="{% static 'npm/bootstrap/js/dist/popover.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}{% endblock %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript">
    var addthis_share = {
        url: "{{ SITE_DOMAIN }}{{ request.path }}"
    }
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a22c8b719a471f8"></script>
<!-- end addthis -->
<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.11&appId=325577037923042';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook end -->
</body>
</html>