<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Zunik Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% load static %}
    <link href="{% static 'img/favicon.png' %}" rel="shortcut icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'perfect-scrollbar/css/perfect-scrollbar.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
    <link href="{% static 'icon_fonts_assets/picons-social/style.css' %}" rel="stylesheet">
    <link href="{% static 'icon_fonts_assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'github-markdown-css/github-markdown.css' %}" rel="stylesheet">
</head>
<body>
<div class="all-wrapper menu-side {% block main_class %} {% endblock %}">
    <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w">
                <a class="mm-logo" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"><span>Clean Admin</span></a>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="{% static 'img/zunik.jpg' %}">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            Zunik
                        </div>
                        <div class="logged-user-role">
                            JuHun Cha
                        </div>
                    </div>
                </div>
                <!--------------------
                START - Mobile Menu List
                -------------------->
                <ul class="main-menu">
                    <li class="has-sub-menu">
                        <a href="index.html">
                            <div class="icon-w">
                                <div class="os-icon os-icon-others-29"></div>
                            </div>
                            <span>Video</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'video:list' %}">My Video</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--------------------
                END - Mobile Menu List
                -------------------->
            </div>
        </div>
        <!--------------------
        END - Mobile Menu
        -------------------->
        <div class="desktop-menu menu-side-w menu-activated-on-click color-scheme-dark">
            <div class="logo-w">
                <a class="logo" href="index.html"><img src="{% static 'img/logo.png' %}"></a>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="{% static 'img/zunik.jpg' %}">
                        </div>
                        <div class="logged-user-info-w">
                            <div class="logged-user-name">
                                Zunik
                            </div>
                            <div class="logged-user-role">
                                JuHun Cha
                            </div>
                        </div>
                        <div class="logged-user-menu">
                            <div class="logged-user-avatar-info">
                                <div class="avatar-w">
                                    <img alt="" src="{% static 'img/zunik.jpg' %}">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        Zunik
                                    </div>
                                    <div class="logged-user-role">
                                        JuHun Cha
                                    </div>
                                </div>
                            </div>
                            <div class="bg-icon">
                                <i class="os-icon os-icon-wallet-loaded"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="mailto:chazunik@gmail.com"><i class="picons-social-icon-gmail"></i><span>Email</span></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/nik.zu.7" target="_blank"><i class="picons-social-icon-facebook"></i><span>Facebook</span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/zunik" target="_blank"><i class="picons-social-icon-github"></i><span>Git Hub</span></a>
                                </li>
                                <li>
                                     <a href="https://www.instagram.com/zunik_cha/" target="_blank"><i class="picons-social-icon-instagram"></i><span>Instagram</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="main-menu">
                    <li class="has-sub-menu">
                        <a href="{% url 'diary:list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-ui-55"></div>
                            </div>
                            <span>Diary</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'diary:list' %}">Diary</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub-menu">
                        <a href="{% url 'video:list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-others-29"></div>
                            </div>
                            <span>Video</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'video:list' %}">My Video</a>
                            </li>
                            <li>
                                <a href="#">Favorite Videos</a>
                            </li>
                        </ul>
                    </li>

                     <li class="has-sub-menu">
                        <a href="{% url 'photo:list' %}">
                            <div class="icon-w">
                                <div class="os-icon os-icon-documents-07"></div>
                            </div>
                            <span>Photo</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'photo:list' %}">My Photo</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-w">
            <!--------------------
            START - Breadcrumbs
            -------------------->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Laptop with retina screen</span>
                </li>
            </ul>
            <!--------------------
            END - Breadcrumbs
            -------------------->
            <div class="content-i">
                {%  block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'moment/moment.js' %}"></script>
<script src="{% static 'chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'bootstrap-validator/dist/validator.min.js' %}"></script >
<script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'editable-table/mindmup-editabletable.js' %}"></script>
<script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/util.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/alert.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/button.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/carousel.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/collapse.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/dropdown.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/modal.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/tab.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/tooltip.js' %}"></script>
<script src="{% static 'bootstrap/js/dist/popover.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>
</body>
</html>