{% extends 'base.html' %}

{% block sub_title %} Home {% endblock %}
{% block content %}
    <div class="content-box pb-5">
        <div class="alert alert-primary mb-5">
            안녕하세요 춤추는 프로그래머 차주훈 입니다. 해당 사이트는 Python Django 로 만들었습니다.
        </div>
        <div class="element-wrapper pb-5">
            <h6 class="element-header">
                My Video
            </h6>
            <div class="element-box">
                <div class="element-box-content">
                    <div class="row">
                        {% for object in videos %}
                            <div class="col-md-3 col-sm-6 col-6 mb-2">
                                <a href="{{ object.get_absolute_url }}">
                                    <img src="{{ object.get_video_thumbnail }}" class="img-thumbnail  img-fluid" data-placement="bottom" data-toggle="tooltip" title="{{ object.title }}">
                                </a>
                                <div class="p-1 text-overflow">
                                    <a href="{{ object.get_absolute_url }}">
                                        {{ object.title }}
                                    </a>
                                </div>
                                <div class="list_more_info">
                                    <i class="fa fa-calendar" title="영상 날짜"></i> {{ object.video_at|date:"Y-m-d" }}
                                    <i class="fa fa-eye pl-2" title="조회수"></i> {{ object.hit_count.hits }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{% url 'video:my_list' %}" class="btn btn-outline-primary">모든 My Video 보기</a>
            </div>
        </div>

        <div class="element-wrapper pb-2">
            <h6 class="element-header">
                Open Diary
            </h6>
            <div class="card-columns">
                {% load thumbnail %}
                {% for object in diarys %}
                    <div class="card">
                        {% thumbnail object.get_main_img_url "226x160" crop="center" as im %}
                            <a href="{{ object.get_absolute_url }}">
                                <img class="card-img-top" src="{{ im.url }}" alt="{{ object.title }}">
                            </a>
                        {% endthumbnail %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ object.get_absolute_url }}">
                                    {{ object.title }}
                                </a>
                            </h4>
                            <p class="card-text">
                                {{ object.description }}
                                <a href="{{ object.get_absolute_url }}" class="ml-2">
                                    <strong>...전체 보기</strong>
                                </a>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <i class="fa fa-pencil" title="다이어리 작성 날짜"></i> {{ object.diary_at|date:"Y-m-d" }}
                                    <i class="fa fa-eye pl-2" title="조회수"></i> {{ object.hit_count.hits }}
                                </small>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a href="{% url 'diary:introduction' %}" class="btn btn-outline-primary mr-1">Open Diary 소개</a>
                <a href="{% url 'diary:open_list' %}" class="btn btn-outline-primary">모든 Open Diary 보기</a>
            </div>
        </div>
    </div>
{%  endblock %}